#root {
  height: 100%;
  width: 100%;
}

main {
  margin-top: 20px;
}

/* 右侧页面样式 */
h1 {
  flex-grow: 1;
}

.pictures {
  position: absolute;
  top: 18%;
  left: 58%;
  width: 31vw;
  height: 63vh;
  min-width: 258px;
  min-height: 246px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image1, .image2 {
  min-width: 110px;
  min-height: 143px;
  aspect-ratio: 110 / 143;
  object-fit: cover;
}

.image1 {
  align-self: flex-start;
}

.image2 {
  align-self: flex-end;
}

/* 左侧页面样式 */
.header {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.ENHead {
  font-size: 48px;
  transition: font-size 0.3s ease;
  position: absolute;
  margin: 10px 0 0 10%;
  min-width: 372px;
  min-height: 72px;
  width: 44%;
  height: 19%;
  aspect-ratio: 372 / 72;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  opacity: 0.2;
  color: #fff;
}

.mainText {
  align-self: flex-start;
  margin-left: 30px;
}

.mainContent {
  align-self: flex-start;
  color: #fff;
}

.CNHead {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  color: #fff;
}


.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.RightButton {
  width: 28px;
  height: 100px;
  right: 0;
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);  /* 使用 transform 平移 -50% 实现精确居中 */
}

.menuButton {
  width: 36px;
  height: 36px;
  margin-top: 22px;
  margin-right: 22px;
  border: none;
  padding: 0;
  background: none;
}

.menuButton img {
  width: 50px;
  height: 50px;
}

.backButton {
  width: 35px;
  height: 35px;
  margin-top: 22px;
  margin-left: 22px;
  border: none;
  padding: 0;
  background: none;
}

.backButton img {
  width: 35pt;
  height: 35pt;
}
.artifact-container {
  background-color: #B69A77;
  border: #1E1C1C 8px;
  position: absolute;
  left: 100px;
  top: 200px;
  width: 410px;
  height: 600px;
}

.text{
  overflow: scroll;
  overflow-x: hidden;
  height: 55vh;
}