@font-face {
  font-family: 'HYQiHei_25s';
  src: url('/public/font/HYQiHei_25S.ttf') format('truetype');
  
}

@font-face{
  font-family: 'HYQiHei_80s';
  src: url('/public/font/HYQiHei_80S.ttf') format('truetype');
}

@font-face {
  font-family: 'Platform-Bold';
  src: url('/public/font/Platform-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Platform-regular';
  src: url('/public/font/Platform-Regular.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: 'HYQiHei', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

